@model ExploreScenarioInstanceViewModel
@{
    ViewData["Title"] = $"Explore {Model.Scenario.Name}-{Model.Name} Simulation";
}

@if (Model.ClubsInScenarioInstance == null || Model.ClubsInScenarioInstance.Count() == 0 || Model.ClubsInScenarioInstance.Any( c=> c== null))
{
    //clubs not added to scenarioInstance yet
    <h5>No clubs in this Simulation yet</h5>
    <a class="btn btn-primary" asp-action="AddClubs" asp-route-scenarioInstanceId="@Model.Id">Add Clubs</a>
}
else if (Model.Pots.Any(p=> p == null)|| Model.Pots.Count() == 0 @* || Model.Pots.Any(c => c.ClubsInPot == null) *@)    //clubs have not been potted
{
    //clubs added but not potted yet
    <h5>Clubs in @Model.Name are</h5>
    
    int sn = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>SN</th>
                <th>Club</th>
                <th>Ranking</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var club in Model.ClubsInScenarioInstance)
            {
                <tr>
                    <td>@(sn++)</td>
                    <td>@club.Club?.Name</td>
                    <td>@club.Ranking</td>
                </tr>
            }
        </tbody>
    </table>    
    <span>
        <p>
            <a asp-action="RankClubs" asp-route-scenarioInstanceId="@Model.Id" class="btn btn-primary">Rank these teams</a>
            @if (Model.ClubsInScenarioInstance.Any( cisi=> cisi.Ranking > 0))
            {
                <form asp-action="PotClubs" asp-route-scenarioInstanceId="@Model.Id" method="post">
                    <span style="display:none" id="confirmPotSpan">
                        <span>This action is irreversible. Are you sure you want to pot these teams?</span>
                        <button type="submit" class="btn btn-danger" style="Width:auto">Yes</button>
                        <a class="btn btn-primary" style="Width:auto" onclick="confirmPot(false)">No</a>
                    </span>
                    <span id="potSpan">
                        <a href="#" class="btn  btn-danger" onclick="confirmPot(true)">Pot teams</a>
                    </span>
                </form>
            }
        </p>
    </span>
}
else if (Model.Pots.Any(c => c.ClubsInPot != null) && Model.Opponents == null)     //clubs have been potted
{
    foreach (var pot in Model.Pots)
    {
        int i = 1;
        <h5>Clubs in @pot.Name</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Club</th>
                    <th>Country</th>
                    <th>***</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ClubInPot cip in pot.ClubsInPot)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@cip.Club?.Name</td>
                        <td>@cip.Club?.Country?.Name</td>
                        <td>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <a asp-action="GenerateOponents" asp-route-scenarioInstanceId="@Model.Id" class="btn btn-primary">Generate potential opponents</a>
}
else if (Model.Opponents != null && Model.MatchUps == null)
{
    foreach (var pot in Model.Pots)
    {
        <h5>Possible opponents for Clubs in @pot.Name</h5>
        foreach (var cip in pot.ClubsInPot)
        {
            int i = 1;
            <h6>*** @cip.Club?.Name </h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Club</th>
                        <th>Pot</th>
                        <th>Possible opponents </th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Pot opponentPot in Model.Opponents[cip.ClubId])
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@cip.Club?.Name</td>
                            <td>@opponentPot.Name</td>
                            <td>@string.Join(", ", opponentPot.ClubsInPot.Select( cip=> cip.Club?.Name).ToList())</td>
                            <td>
                                @opponentPot.ClubsInPot.ToList().Count()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        
    }
    //write logic for going pot to pot and then club to club to display respective opponent for each club from each pot
    <a asp-action="ShowMatchUp" asp-route-scenarioInstanceId="@Model.Id" class="btn btn-primary">Do Matchups</a>
}
else if (Model.MatchUps != null)
{
    foreach (var pot in Model.Pots)
    {
        <h5>Selected opponents for Clubs in @pot.Name</h5>
        int i = 1;
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Club</th>
                    <th>Selected opponents </th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cip in pot.ClubsInPot)
                {
                    var opponents = Model.MatchUps[cip.ClubId];
                    <tr>
                        <td>@(i++)</td>
                        <td>@cip.Club?.Name</td>
                        <td>@string.Join(", ", opponents.Select(club => $"{club.Name} ({club.Country?.Abbrevation}_{Model.Pots.FirstOrDefault( p=> p.ClubsInPot.Any( c=> c.ClubId == club.Id) )?.Name})").ToList())</td>
                        <td>
                            @opponents.ToList().Count()
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
}
else
{
    <h5>No provison for this</h5>
}

