@model List<ClubInScenarioInstance>
@{
    ViewData["Title"] = $"Rank clubs";
}
<form method="post" asp-route-scenarioInstanceId="@ViewBag.scenarioInstanceId">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Ranking</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <input asp-for="@Model[i].ClubId" class="form-control" hidden />
                    <input asp-for="@Model[i].Club" class="form-control" hidden />
                    <input asp-for="@Model[i].ScenarioInstanceId" class="form-control" hidden />
                    <input asp-for="@Model[i].ScenarioInstance" class="form-control" hidden />
                    <input asp-for="@Model[i].!Club.Name" hidden />
                    <td>@(i+1)</td>
                    <td>@(Model[i].Club?.Name)</td>
                    <td><input asp-for="@Model[i].Ranking" /></td>                    
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button type="submit" class="btn btn-primary">Save ranking</button>
    </div>
</form>